$base-spacing : 20px;

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(176,224,230, 1) 0%,
    rgba(176,224,230, 1) 50%,
    rgba(250,235,215, 1) 50%,
    rgba(250,235,215, 1) 100%,
  );
}

.joke-list {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
}

.joke-list-sidebar {
  background-color:lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px lightslategray;
  z-index: 2;
}

.joke-list-jokes {
  background:whitesmoke;
  display: flex;
  border: blue 2px solid;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
  align-self: center;
  justify-content: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.joke {
  flex: 1 0 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  color:darkslategray;
  border-bottom: solid 1px slategray;

  .joke-score {
    display: flex;
    align-items: center;
    flex: 0 0 5rem;
    justify-content: space-between;
    padding:0 1rem 0 1rem;
  }
  .joke-text {
    padding:0 1rem 0 1rem;
  }

}


#loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: transparent;
  border-top: 5px black solid;
  border-right: 5px #ccc solid;
  border-left: 5px #ccc solid;
  border-bottom: 5px #ccc solid;
  animation: rotate .8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}













